@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;700&family=Share+Tech&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #efedd6;
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* some things to point out the overflow could be hidden with both x and y positioning
  this gets rid of any excess space that is not needed in the project
  */
  overflow-x: hidden;
}
h1 {
  margin: 10px;
}

.box {
  background-color: steelblue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}
/* the nth is a pseudo selector which means that if an element that meets certain conditions will it be effected
so in this case every even class of box will be selected 
and will come from a different spot than the previous
*/
.box:nth-last-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 45px;
}
